*{
   margin: 0;
   padding: 0;
}

.body{
    min-width: 100vh;
    min-height: 100vh;
    display: flex;
    font-size: 1rem;
}

.container{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 2rem;
}

.container-2{
    padding: 10px;
    flex-grow: 2;
}

@media (max-wdth:640px){
    .body{
        flex-direction: column-reverse;
    }

    .container{
        flex-direction: row;
        
    }

}

